<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card border-0 shadow-lg-lte rounded-3 my-5">
        <div class="card-body">
            <form action="" method="POST" novalidate onsubmit="validateForm2(this,'<%=user.user%>')">
                    <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="" placeholder="Contraseña" required pattern="\w{8,16}"> 
                    <label for="password">Contraseña</label>
                    <div class="invalid-feedback">
                        Campo requerido
                    </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="" placeholder="Confirmar Contraseña" required pattern="\w{8,16}">
                        <label for="password">Confirmar Contraseña</label>
                        <div class="invalid-feedback" id="">
                            Campo requerido
                        </div>
                    </div>
                <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" title="Las contraseñas deben coincidir." data-bs-placement="top">Guardar cambios</button>
            </form>
        </div>
    </div>
</div>