    
    <div class="card shadow-lg-lte rounded-3 card-outline card-success">
      <div class="card-body p-4 p-sm-5">
            <h5 class="text-center mb-2 fw-light fs-5">Completa tu Registro</h5>
            <div class="col mb-4">
              <div class="progress mt-3 d-none" id="divProgress">
                <div class="progress-bar bg-success " id="progressFile" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ></div>
              </div>
            </div>
        <form action="/perfil/register" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="document" id="name" placeholder="Numero de documento" pattern="\d{6,9}" required>
            <label for="floatingInput">Cedula de identidad o Pasaporte</label>
            <div class="invalid-feedback">
              Ej: 12345678
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Telefono" pattern="\d{9,11}" required>
            <label for="floatingInput">Telefono</label>
            <div class="invalid-feedback">
              Ej: 04120000000
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="email" id="name" placeholder="Correo Electronico" value="<%=userRegister%>" required readonly>
            <label for="floatingInput">Correo Electronico</label>
            <div class="invalid-feedback">
               El correo debe estar en etse formato pepito_perez@micorreo.com
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="file" class="form-control" name="document_file" id="" placeholder="foto o pdf"  required>
            <label for="floatingInput">Documento</label>
            <div class="invalid-feedback">
              El correo debe estar en etse formato pepito_perez@micorreo.com
            </div>
          </div>
          <div class="d-grid">
            <button class="btn btn-success btn-login text-uppercase fw-bold mt-2" type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>