<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/css/adminlte.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Felicidades</title>
</head>
<body>
    <div class="card">
        <div class="card-head">

        </div>
        <div class="card-body bg-green-glass">
            <p class="car-text text-center">
                Su cuenta de correo fue validada <a href="/home">Regresar</a>
            </p>
        </div>
    </div>
</body>
</html>