.bg-green-glass{
    backdrop-filter: blur(2.5px) saturate(30%) !important;
    -webkit-backdrop-filter: blur(2.5px) saturate(30%) !important;
    background-color: rgba(0, 223, 108, 0.475) !important;
    border: solid 2px rgba(0, 223, 108, 0.4) !important;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.5), 0 10px 20px 0 rgba(0,0,0,0.19) !important;
}